# Python
__pycache__/
*.pyc

# Env & Secrets
.env
.streamlit/secrets.toml

# Streamlit
.streamlit/*.json
# Streamlit config는 버전관리를 허용 (secrets는 제외)
!.streamlit/config.toml

# OS/Editor
.DS_Store
.vscode/